version: "3.8"

services:
    dolidock:
        image: dolidock:latest
        volumes:
            - dolidock-data:/var/www/dolidock/documents
        environment:
            DOLI_ADMIN_LOGIN: ${DOLI_ADMIN_LOGIN}
            DOLI_ADMIN_PASSWORD: ${DOLI_ADMIN_PASSWORD}
            DOLI_DB_TYPE: mysqli
            DOLI_DB_HOST: mysql
            DOLI_DB_HOST_PORT: 3306
            DOLI_DB_NAME: ${DOLI_DB_NAME}
            DOLI_URL_ROOT: 'http://0.0.0.0'
            DOLI_DB_USER: ${DOLI_DB_USER}
            DOLI_DB_PASSWORD: ${DOLI_DB_PASSWORD}
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            WWW_USER_ID: 1000
            WWW_GROUP_ID: 1000
        ports:
            - "80:80"
    mysql:
        image: mysql:latest
        environment:
        - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
        - MYSQL_DATABASE=${DOLI_DB_NAME}
        - MYSQL_USER=${DOLI_DB_USER}
        - MYSQL_PASSWORD=${DOLI_DB_PASSWORD}
        volumes:
        - mysql-data:/var/lib/mysql
        ports:
        - 3306:3306
        deploy:
            resources:
                limits:
                    cpus: "0.5"
                    memory: "500M"
    dolirate:
        image: ismogroup/dolirate:latest
        environment:
            MYSQL_HOST: mysql
            MYSQL_PORT: 3306
            DOLI_DB_USER: ${DOLI_DB_USER}
            DOLI_DB_PASSWORD: ${DOLI_DB_PASSWORD}
            DOLI_DB_PREFIX: 'llx_'
            DOLI_DB_NAME: ${DOLI_DB_NAME}
            API_LAYER_KEY: ${API_LAYER_KEY}
        ports:
        - 3000:3000
        deploy:
            resources:
                limits:
                    cpus: "0.25"
                    memory: "100M"
    smtpd:
        image: ismogroup/docker-smtp-relay:latest
        environment:
            ALLOWED_SENDER_DOMAINS: ${ALLOWED_SENDER_DOMAINS}
            DKIM_PRIVATE_KEY: ${DKIM_PRIVATE_KEY}
            DKIM_SELECTOR: ${DKIM_SELECTOR}
            POSTFIX_HOSTNAME: ${POSTFIX_HOSTNAME}
            CLOUDFLARE_ZONE_ID: ${CLOUDFLARE_ZONE_ID}
            CLOUDFLARE_API_KEY: ${CLOUDFLARE_API_KEY}
            POSTFIX_myhostname: ${POSTFIX_HOSTNAME}
            POSTFIX_helo_name: ${POSTFIX_HOSTNAME}
        volumes:
            - dolidock-data:/var/www/dolidock/documents
        ports:
        - "25"
        deploy:
            resources:
                limits:
                    cpus: "0.5"
                    memory: "0.3G"
volumes:
  dolidock-data:
  mysql-data: