persistence:
  enabled: true
crontabui:
  enabled: true
  image:
    repository: highcanfly/crontab-ui
    tag: latest
  resources:
    limits:
      cpu: 250m
      memory: "214748364"
  ports:
  - name: "8000"
    port: 8000
    targetPort: 8000
  replicas: 1
  type: ClusterIP
dolidock:
  s3Bucket: "master"
  s3Path: "random-s3-path"
  s3Endpoint: "https://random-s3-endpoint.com"
  s3AccessKey: "random-access-key"
  s3SecretKey: "random-secret-key"
  s3Region: "random-region"
  s3Cryptoken: "random-cryptoken"
  doliInitFromS3: "false"
  imagePullPolicy: IfNotPresent 
  updateStrategy: RollingUpdate # Recreate | RollingUpdate
  autobackupJob: false
  doliDbHost: mysql
  doliDbHostPort: "3306"
  doliDbType: mysqli
  doliUrlRoot: https://dolidock.example.org
  allowedSenderDomains: ""
  apiLayerKey: ""
  cloudflareApiKey: ""
  cloudflareDnsRecords: ""
  cloudflareZoneId: ""
  crontabuiPassword: ""
  crontabuiUser: "administrator"
  dkimPrivateKey: ""
  dkimSelector: "dkim-dolidock"
  doliAdminLogin: "administrator"
  doliAdminPassword: ""
  doliDbName: "dolidock"
  doliDbPassword: ""
  doliDbUser: "dbuser"
  doliDbPrefix: llx_
  mysqlRootPassword: ""
  postfixHostname: ""
  hostname: ""
  adminHostname: ""
  crontabuiHostname: ""
  backupFrom: ""
  backupTo: ""
  wwwGroupId: "1000"
  wwwUserId: "1000"
  image:
    repository: ismogroup/dolidock
    tag: latest
  resources:
    limits:
      cpu: "1"
      memory: 3Gi
  ports:
  - name: "80"
    port: 80
    targetPort: 80
  replicas: 1
  type: ClusterIP
dolirate:
  mysqlHost: mysql
  mysqlPort: "3306"
  image:
    repository: ismogroup/dolirate
    tag: latest
  resources:
    limits:
      cpu: 250m
      memory: 100M
  ports:
  - name: "3000"
    port: 3000
    targetPort: 3000
  replicas: 1
  type: ClusterIP
imagePullSecrets: []
kubernetesClusterDomain: cluster.local
memcached:
  image:
    repository: memcached
    tag: alpine
  resources:
    limits:
      cpu: 250m
      memory: 1Gi
  ports:
  - name: "11211"
    port: 11211
    targetPort: 11211
  replicas: 1
  type: ClusterIP
mysql:
  image:
    repository: mysql
    tag: latest
  resources:
    limits:
      cpu: "1"
      memory: 2Gi
  ports:
  - name: "3306"
    port: 3306
    targetPort: 3306
  replicas: 1
  type: ClusterIP
phpmyadmin:
  pmaHost: mysql
  image:
    repository: phpmyadmin
    tag: latest
  resources:
    limits:
      cpu: 250m
      memory: 512M
  ports:
  - name: "80"
    port: 80
    targetPort: 80
  replicas: 1
  type: ClusterIP
pvc:
  crontabuiData:
    storageRequest: 1Gi
  dolidockData:
    storageRequest: 3Gi
  mysqlData:
    storageRequest: 1Gi
  smtpdData:
    storageRequest: 25Mi
flex-smtpd:
  service:
    name: smtpd
  updateStrategy: RollingUpdate # Recreate | RollingUpdate
  useDolidockPVC: false
  useCloudflareDDNS: "0"
  useLetsEncrypt: "0"
  relayHost: ""
  ports:
  - name: "25"
    port: 25
    targetPort: 25
  replicas: 1
  image:
    repository: highcanfly/smtp-relay
    tag: latest
  resources:
    limits:
      cpu: 900m
      memory: "512Mi"
    requests:
      cpu: 50m
      memory: "50Mi"
  type: ClusterIP
ingress:
  ingressClassName: nginx
  tls:
    certIssuer: ""

cloudflared:
  replicaCount: 1
  autoscaling:
    enabled: false
  probe:
    enabled: true
  enabled: false
  image:
      repository: highcanfly/net-tools
      tag: 1.2.5
  TunnelID: 3a7b5c9d-1e2f-4a6b-b9a8-c0e7f6a5b4c3
  credentials: {"AccountTag":"1b3a9c8d7e2f5g4h3i2j1k0l","TunnelSecret":"o4n5o6p7q8r9s0t1u2v3w4x5y6z7A8B9C","TunnelID":"3a7b5c9d-1e2f-4a6b-b9a8-c0e7f6a5b4c3"}
  # command: ["/bin/sh"]
  # args: ["-c", "cd ~/ && touch file.txt && mknod -m 777 fifo p && cat fifo | netcat -k -l 8000 > fifo && sleep infinity"]
  config: |
    # Name of the tunnel you want to run
    tunnel: lasersmart-gitea
    credentials-file: /etc/cloudflared/creds/credentials.json
    metrics: 0.0.0.0:2000
    # grace-period: 180s
    no-autoupdate: true
    ingress:
      - hostname: dolidock.sample.com
        service: http://dolidock:80
      - hostname: phpmyadmin.sample.com
        service: http://phpmyadmin:80
      # This rule matches any traffic which didn't match a previous rule, and responds with HTTP 404.
      - service: http_status:404
    cert: |
      -----BEGIN PRIVATE KEY-----
      MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgw7NV3o6KFY6H4Nck
      wmTv5VGVOvMuwffVBOnqbiaAao2hRANCAAT0f28q1+2pRiq6zDZpyLOmQ4LlcmTQ
      y9ck9HXc5+KpscYaWTtz3ask7Ng+jLWlyg9ch7Z613uVdsUG0ygcRUko
      -----END PRIVATE KEY-----
      -----BEGIN CERTIFICATE-----
      MIICjDCCAXWgAwIBAgIUIvX6J9Q0v2Q1Y7Zz4v4Qz8Y3yjUwCgYIKoZIzj0EAwIw
      gY8xCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlhMRYwFAYDVQQHEw1T
      YW4gRnJhbmNpc2NvMRkwFwYDVQQKExBDbG91ZEZsYXJlLCBJbmMuMTgwNgYDVQQL
      Ey9DbG91ZEZsYXJlIE9yaWdpbiBTU0wgRUNDIENlcnRpZmljYXRlIEF1dGhvcml0
      eTAeFw0yMzExMTcxNjQ1MDBaFw0zODExMTMxNjQ1MDBaMGIxGTAXBgNVBAoTEENs
      b3VkRmxhcmUsIEluYy4xHTAbBgNVBAsTFENsb3VkRmxhcmUgT3JpZ2luIENBMSYw
      JAYDVQQDEx1DbG91ZEZsYXJlIE9yaWdpbiBDZXJ0aWZpY2F0ZTBZMBMGByqGSM49
      AgEGCCqGSM49AwEHA0IABPR/byrX7alGKrrMNmnIs6ZDguVyZNDL1yT0ddzn4qmx
      xhpZO3PdqyTs2D6MtaXKD1yHtnrXe5V2xQbTKBxFSSijggE0MIIBMDAOBgNVHQ8B
      Af8EBAMCBaAwHQYDVR24BBYwFAYIKwYBBQUHAwIGCCsGAQUFBwMBMAwGA1UdEwEB
      /wQCMAAwHQYDVR0OBBYEFMEBSh/gFX0N4MEMG9ICFL203FUXMB8GA1UdIwQYMBaA
      FIUwXTsqcNTt1ZJnB/3rObQaDjinMEQGCCsGAQUFBwEBBDgwNjA0BggrBgEFBQcw
      AYYoaHR0cDovL29jc3AuY2xvdWRmbGFyZS5jb20vb3JpZ2luX2VjY19jYTAtBgNV
      HREEJjAkghEqLmxhc2Vyc21hcnQud29ya4IPbGFzZXJzbWFydC53b3JrMDwGA1Ud
      HwQ1MDMwMaAvoC2GK2h0dHA6Ly9jcmwuY2xvdWRmbGFyZS5jb20vb3JpZ2luX2Vj
      Y19jYS5jcmwwCgYIKoZIzj0EAwIDSAAwRQIhANIFwqsvS/GGKug8zraQ3wDmbOHT
      tL+LXqeRlfe2g6qOAiBqjkcTYI/Ip1wcV0H4D4N3O1DBuKz81X85xCNIPvqbbw==
      -----END CERTIFICATE-----
      -----BEGIN ARGO TUNNEL TOKEN-----
      eyJ6b25lSUQiOiI1ZGVkZjcxMGQ2MzBkNzQ2MzAzZjRlYTM0NGJmYTVlMyIsImFj
      Y291bnRJRCI6IjJlNGFlOThkOGI7fTMyNWI0Mzg0NzRhZTUzZjBkMWM0Iiwic2Vy
      dmljZUtleSI6ImJhZjQyYzIwLWY4ZjItNDYwZS1hZjE2LWQ1YzQwYjQyYjI1ZCIs
      ImFwaVRva2VuIjoiOTlPbE90R2lELVc4WVFWamE2Y21XVFU4aGkxM1FiY19vMDN0
      V3cyclMiJ9
      -----END ARGO TUNNEL TOKEN-----
