includes:
	- .phpstan.dist.neon
parameters:
	scanDirectories:
		- /home/erics/dev/modules-dolibarr/stubs/dolibarr-stubs-all/dolibarr-%env.DOLIBARR_VERSION%/
	excludePaths:
		analyse:
			- /home/erics/dev/modules-dolibarr/stubs/dolibarr-stubs-all/dolibarr-%env.DOLIBARR_VERSION%/
	bootstrapFiles:
		- .phpstan-bootstrap.php
